* {
    font-family: "Georgia", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* --Nav Bar-- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    animation: flyIn 2.2s forwards;
    background-color: #fff; 
    z-index: 2; 
    position: fixed;
    width: 100%;
  }
  
  .logo {
    height: 100px;
    margin-left: 80px;
  }
  
  .nav-links {
    display: flex;
    gap: 115px;
  }
  
  .nav-links a {
    font-family: 'Cinzel', serif;
    font-weight: 900;
    text-decoration: none;
    color: #72383D;
    transition: color 0.3s;
  }
  
  
  .nav-links a:hover {
    color: goldenrod;
  }
  
  
  .social-icons {
    display: flex;
    /* gap: 10px; */
    margin-right: 100px;
  }
  
  .social-icons img {
    height: 24px;
  }

 /* Animation */
 @keyframes flyIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
  
#revform {
    background-color: #ffffff;
    font-family: 'Crimson Text', serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: url(bg.png);
}

#revform1 {
    background-color: #ffffff;
    color: #D1C7BD;
    padding: 0 10px;
    padding-top: 150px;
    padding-bottom: 50px;
    margin: auto;
    width: 100%;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
    margin: 20px;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    font-size: 18px;
    width: 50%;
    padding-top: 250px;
    padding-right: 100px;
    margin: 0;
    text-align: center;
}

form {
    background-color: #ffffff;
    text-align: left;
    padding: 90px;
    border-radius: 10px;
    margin: 30px;
    display: inline-block;
}

input[type="text"], input[type="email"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 25px 0;
    border: 1px solid #D1C7BD;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #D1C7BD;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #D1C7BD;
    color: #333;
}


/* Footer */

footer {
    /* background-color: #f9f8f8;  */
    background-color: #EFE9E1; 
    color: #000000;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
  }
  
  .footer-logo {
    float: left;
    margin-bottom: 10px;
    margin-left: 60px;
  }
  
  .footer-info {
    text-align: left;
  }
  
  .footer-info p {
    margin: 5px 0;
  }
  
  .footer-info div {
    display: inline-block;
    margin: 60px; /* Reduce the left margin to move sections to the left */
    vertical-align: top;
  }
  
  .info-title {
    font-size: 18px; /* Larger font size for titles */
    font-weight: bold; /* Make the title text bold */
  }
  
  .info-title + p {
    margin-top: 10px; /* Add margin to create a gap between title and paragraph */
  }
  
  .social-icons img {
    margin-right: 10px;
  }
  .social-icons {
    margin: 20px;
  }
  
  /* Use media queries to make the layout responsive */
  
  @media screen and (max-width: 800px) { /* Apply this style when the screen width is less than or equal to 800px */
    .footer-info div {
        display: block; /* Stack the divs vertically */
        margin: 0 auto; /* Center the divs horizontally */
        max-width: 300px; /* Limit the width of the divs */
    }
  }
  
  @media screen and (max-width: 600px) { /* Apply this style when the screen width is less than or equal to 600px */
    .footer-logo {
        float: none; /* Remove the float property */
        display: block; /* Make the logo a block element */
        margin-left: auto; /* Center the logo horizontally */
        margin-right: auto;
    }
  }