* {
    font-family: 'Crimson text', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Nav Bar */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    animation: flyIn 2.2s forwards;
    background-color: #fff; /* To ensure the header has a background if video loads behind it */
    z-index: 2; /* Keeps the header above the video */
    position: relative;
    width: 100%;
  }

  .logo {
    height: 100px;
    margin-left: 80px;
  }

  .nav-links {
    display: flex;
    gap: 115px;
  }

  .nav-links a {
    font-family: "Cinzel", serif;
    font-weight: 900;
    text-decoration: none;
    color: #72383d;
    transition: color 0.3s;
  }

  .nav-links a:hover {
    color: goldenrod;
  }

  .social-icons {
    display: flex;
    /* gap: 10px; */
    margin-right: 100px;
  }

  .social-icons img {
    height: 24px;
  }

  /* Animation */
  @keyframes flyIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .video-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .video-container video {
    width: 100%;
    height: auto;
  }

  .centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    z-index: 3;
    opacity: 0; /* Start the image as invisible */
    animation: fadeIn 0.5s forwards; /* Apply the animation */
    animation-delay: 2s; /* Delay the animation for 2 seconds */
  }
p{
font-family: 'Crimson Text', serif;
  }

  .about-section {
    position: relative;
    padding: 75px 0; /* Increased padding for 150% height */
    text-align: center;
    background: url("pic5.png") no-repeat center center;
    background-size: cover;
  }

  .reserve-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white; /* Text color */
    background-color: #cda15b; /* Default background color */
    border-radius: 50px; /* To achieve rounded corners */
  }

  .reserve-btn:hover {
    background-color: black; /* Dark green color on hover */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* -- Footer-- */

footer {
  /* background-color: #f9f8f8;  */
  font-family: 'Crimson Text', serif;
  background-color: #EFE9E1; 
  color: #000000;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
}

.footer-logo {
  float: left;
  margin-bottom: 10px;
  margin-left: 60px;
}

.footer-info {
  text-align: left;
}

.footer-info p {
  margin: 5px 0;
}

.footer-info div {
  display: inline-block;
  margin: 60px; /* Reduce the left margin to move sections to the left */
  vertical-align: top;
}

.info-title {
  font-size: 18px; /* Larger font size for titles */
  font-weight: bold; /* Make the title text bold */
}

.info-title + p {
  margin-top: 10px; /* Add margin to create a gap between title and paragraph */
}

.social-icons img {
  margin-right: 10px;
}
.social-icons {
  margin: 20px;
}

/* Use media queries to make the layout responsive */

@media screen and (max-width: 800px) { /* Apply this style when the screen width is less than or equal to 800px */
  .footer-info div {
      display: block; /* Stack the divs vertically */
      margin: 0 auto; /* Center the divs horizontally */
      max-width: 300px; /* Limit the width of the divs */
  }
}

@media screen and (max-width: 600px) { /* Apply this style when the screen width is less than or equal to 600px */
  .footer-logo {
      float: none; /* Remove the float property */
      display: block; /* Make the logo a block element */
      margin-left: auto; /* Center the logo horizontally */
      margin-right: auto;
  }
}

  /* Chef Section Styles */
  .chef-section {
    display: flex;
    align-items: center;
    padding: 100px;
    background-color: #f5f5f5;
  }

  .chef-image img {
    width: 500px;
    height: auto;
    margin-left: 100px; /* Adjusted margin to the left */
  }

  .chef-details {
    flex-grow: 1;
  }

  .chef-details h2 {
    font-family: 'Crimson Text', serif;
    font-weight: 18px;
    margin: 0;
    font-size: 24px;
    font-style:initial;
  }

  .chef-details p {
    margin-top: 10px;
    font-size: 20px;
    /* font-style: italic; */
  }

  /* Use media queries to make the layout responsive */

  @media screen and (max-width: 800px) {
    /* Apply this style when the screen width is less than or equal to 800px */
    .footer-info div {
      display: block; /* Stack the divs vertically */
      margin: 0 auto; /* Center the divs horizontally */
      max-width: 300px; /* Limit the width of the divs */
    }
  }

  .read-more-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #cda15b;
    transition: background-color 0.5s;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    /* font-family: 'Cinzel', serif; */
  }

  .read-more-btn:hover {
    background-color: black;
  }

  @media screen and (max-width: 600px) {
    /* Apply this style when the screen width is less than or equal to 600px */
    .footer-logo {
      float: none; /* Remove the float property */
      display: block; /* Make the logo a block element */
      margin-left: auto; /* Center the logo horizontally */
      margin-right: auto;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .bodyn {
    background-color: white;
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Crimson Text', serif;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box {
    position: relative;
    width: 30%;
    height: auto;
    text-align: center;
    transition: transform 0.2s;
    margin: 85px;
}

.image-box:hover {
    transform: scale(1.05);
}

.image-box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    ;
    transition: filter 0.2s;
}

.image-box:hover img {
  filter: grayscale(10%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.image-box:hover .overlay {
    background-color: rgba(0, 0, 0, 0);
}



.image-box:hover .overlay-text {
    color: #af9b04;
}





.second-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.image-box:hover .second-image {
    display: block;
}

header {
    background-color: goldendark;
    text-align: center;
    padding: 20px;
    font-family: 'Crimson Text', serif;
}

